.item{
    text-align:center;
    border-radius: 5px;
    margin:5px;
    padding: 5px;
    border:1px solid #dff0d8;
    background:#dff0d8;
    color:#444;
    --width:200px;
    --height:32px;
    --line-height: 20px;
    z-index: 10;
}
.timetable thead tr td{
  border:2px solid #ccc;
}
.timetable tbody tr td{
  border:2px solid #ccc;
}
.over{
    background-color: #E0ECFF;
}
.clicked{
    background:#ddd;
}
